@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
    background-color: blue;
}

form
{
    background-color: black;
}

form div button.btn {
    background: rgb(138, 18, 112);
    border: none;
    color:white;
    /*padding: 10px 15px;*/
    /*width: 5px;*/
    width:50px;
    height:50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
#guessed .btn{
    text-align: right;
    background-color: aqua;
}
#letters {
    text-align: center;
}

div.image {
    text-align: center;
}

#result {
    text-align: center;
    font-size: 1.5em;
}

#display {
    text-align: center;
}

img {
    position: relative;
    margin:0% auto;
    width: 20em;
    height: 20em;
    text-align: center;
}